hr.grey-h2 {
    background-color: darkgrey;
    height: 2px;
}

.container.light, .container-fluid.light {
    padding: 19px;
    background-color: rgba(245, 245, 245, 0.3);
}

blockquote {
    font-size: 14px;
}

.container>.page-header, .container-fluid>.page-header {
    margin-top: 0px;
}