a {
    text-decoration: none;      /* Убирает подчеркивание для ссылок */
}

a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: blue;                 /* Ссылка синего цвета */
}